
:root{
    --header-bottom-background-color:#000000;
    --header-bottom-text-color:#FFFFEF;
    --header-bottom-icon-color:#FCFCFC;
    --header-bottom-live-button:#CD181C;
    --header-bottom-choosen-item:#595959;
}

/* ****************************************** */



.header__bottom{
    padding: 0px 20px;
    background-color: var(--header-bottom-background-color);
    max-width: 1536px;
    height: 100px;
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    margin: 0 auto;
}

/* ****************************************** */

.header-bottom__logo{
    width: 100px;
    height: 100%;
}

.header-bottom__logo > img{
    width: 100%;
    height: 100%;
}

/* ****************************************** */
.header-bottom__main-wrapper{
    padding: 0px 0px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc( 100% - 100px );
    height: 100%;
}

.main-wrapper__header-line{
    padding-top: 25px;
    display: flex;
    align-items: center;
}

/* ****************************************** */
.main-wrapper__header-line > #que{
    text-transform: uppercase;
    color: var(--header-bottom-text-color);
    font-size: 21px;
    margin-right: 50px;
}

.main-wrapper__header-line > #liv{
    
    padding: 9px 25px;
    background-color: var(--header-bottom-live-button);
    border-radius: 5px;
}

.main-wrapper__header-line > #liv > a{
    color: var(--header-bottom-text-color);
    text-transform: uppercase;

}

/* ****************************************** */

/* .main-wrapper__header-nav{

} */

.main-wrapper__header-nav > ul{
    display: flex;
    justify-content:space-between ;
}

.main-wrapper__header-nav > ul > li{
    padding: 7px 13px;
    transition: all 0.1s;
}

.main-wrapper__header-nav > ul > li > a{
    color: var(--header-bottom-text-color);
    font-size: 13px;
    font-family: inherit;
}
.main-wrapper__header-nav > ul > li:hover{
    background-color: var(--header-bottom-choosen-item);
}

/* ****************************************** */

#choosen{
    background-color: var(--header-bottom-choosen-item);
}

/* ****************************************** */


@media screen and (max-width: 1023px){

    header#normal-screens{
        display: none;
    }

    .main-wrapper__header-nav,
    #que{
        display: none;
    }

    .header__bottom{
        height: 50px;
        padding: 0;
    }

    .header-bottom__logo{
        width: 50px;
    }

    .header-bottom__main-wrapper{
        padding: 0px 0px 0px 15px;
        display: flex;
        flex-direction: row;
        width: calc( 100% - 50px );
        height: 100%;
    }

    .main-wrapper__header-line{
        padding-top: 0px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header-bottom__search,
    .header-bottom__search > a{
        display: flex;
        height: 100%;
        align-items: center;
    }

    .header-bottom__search > a{
        color: var(--header-bottom-icon-color);
        font-size: 21px;
        padding: 15px;
    }

    .main-wrapper__header-line > a#liv{
        color: var(--header-bottom-text-color);
    }

}

@media screen and (min-width: 1024px){

    header#small-screens{
        display: none;
    }

    .header-bottom__search{
        display: none;
    }

}

@media screen and (max-width: 480px){

    .main-wrapper__header-line > #liv{
        margin-left: 10px;
    }
}