
:root{
    --on-card-text-color:#FCFCFC;
    --normal-text-color:#000000;
    --normal-text-color-after-hover:#CF0A0A;
    --border-top-color:#C7C7C7;
}
/* *********************************** */
.left-main__part1{
    padding: 0px 10px;
}

.left-main__part1 > div{
    display: flex;
    align-items: baseline;
}

.left-main__part1 > div > h1{
    padding-top: 12px;
    margin-bottom: 12px;
    font-size: 26px;
    font-weight: 900;
    letter-spacing: 1px;
}

/* *********************************** */
.left-main__part2{
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
}
.left-main__part2 > div{
    /* height: 100%; */
    width: 100%;
    display: flex;
}
/* --------------------------------------- */
.left-main__part2 > div > .part2__leftside{
    width: calc(100% - 366px);
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.left-main__part2 > div > .part2__rightside{
    width: 366px;
    /* height: 100%; */
    padding-left: 21px;
}

/* --------------------------------------- */

.part2-leftside__card{
    width: 100%;
    /* height: 87.2%; */
    position: relative; 
}

.part2-leftside__card > .image-wrapper{
    width: 100%;
}

.part2-leftside__card > .image-wrapper > img{
    width: 100%;
    object-fit: contain;
}

.part2-leftside__card > .text-wrapper{
    height: 100%; 
    position: absolute;
    padding: 15px;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
}

.part2-leftside__card > .text-wrapper > span > a{
    font-size: 27px;
    font-weight: 500;
    color: var(--on-card-text-color);
}

.text-wrapper:hover span > a{
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.text-wrapper > span:hover a{
    text-decoration-thickness: 3px;
}

/* --------------------------------------- */

.part2-rightside__image{
    width: 100%;
}

.part2-rightside__image > a > img{
    width: 100%;
    object-fit: contain;
}

.part2-rightside__text-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.part2-rightside__text{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
}

.part2-rightside__text:hover a{
    text-decoration: underline;
}

.part2-rightside__text > span > a{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: var(--normal-text-color);
}

.part2-rightside__text span:hover a{
    color: var(--normal-text-color-after-hover);
    text-decoration: underline solid var(--normal-text-color-after-hover);
}

/* *********************************** */

@media screen and (max-width: 1279px){
    .left-main__part2 > div > .part2__leftside{
        width: calc(100% - 300px);
    }
    .left-main__part2 > div > .part2__rightside{
        width: 300px;
    }
}

@media screen and (max-width: 1170px){
    .part2-rightside__image,
    .part2-leftside__card > .text-wrapper{
        display: none;
    }
    .left-main__part2 > div{
        flex-direction: column;
    }
    /* --------------------------------------- */
    .left-main__part2 > div > .part2__leftside{
        width: 100%;
    }
    .left-main__part2 > div > .part2__rightside{
        width: 100%;
        padding-left:0;
    }
    /* --------------------------------------- */
    .part2-leftside__card{
        height: 100%;
        position: static;
    }

    .part2-leftside__card > .image-wrapper > img{
        width: 100%;
        object-fit: contain;
    }
    .part2-rightside__text{
        margin-top: 0;
        padding: 22px 0;
        border-bottom: 2px solid var(--border-top-color);
    }
    .part2-rightside__text:last-child{
        border: none;
    }
    /* --------------------------------------- */
    .for-smaller-than-1171 > span > a{
        font-weight: 800;
    }

}

@media screen and (min-width: 1171px){

    .for-smaller-than-1171{
        display: none;
    }

}

@media screen and (max-width: 768px){
    .part2-rightside__text{
        padding: 12px 0;
    }
}



